@use '@/styles/utils.scss' as *;

.wrapper {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  .column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  @include mq('sm') {
    max-width: 300px;
  }
}
