@use '@/styles/utils.scss' as *;

.button {
  color: var(--c-blue);
  background-color: var(--c-white);
  width: 100%;
  height: 56px;
  font-weight: 600;
  font-size: var(--font-size-md);
  border-radius: 100px;
  border: 2px solid var(--c-blue);

  &:hover {
    background-color: var(--bg-blue);
  }

  @include mq('sm') {
    /*波紋の基点とするためrelativeを指定*/
    position: relative;
    /*はみ出す波紋を隠す*/
    overflow: hidden;

    &::after {
      content: '';
      /*波紋*/
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat
        50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform 0.3s, opacity 1s;
    }

    &:active::after {
      transform: scale(0, 0);
      transition: 0s;
      opacity: 0.3;
    }
  }
}

.label_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
