.button {
    color: var(--c-white);
    background-color: var(--c-blue);
    width: 36.1rem;
    height: 5.6rem;
    font-weight: 600;
    font-size: 1.6rem;
    border: 0;
    border-radius: 10.0rem;
}