.button {
  color: var(--c-white);
  background-color: var(--c-blue);
  width: 100%;
  height: 56px;
  font-weight: 600;
  font-size: var(--font-size-md);
  border-radius: 100px;
  border: 0;
  &:hover {
    background-color: var(--h-blue);
  }
}
