.button {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 0;
    background-color: var(--c-blue);
    color: var(--c-white);
    box-shadow: 0 1px 3px 1px rgba(101, 119, 134, 0.25);
    filter: drop-shadow(0 0 0.8px rgba(101, 119, 134, 0.20));
}

/* 
boxShadow={'0 0.1px 0.3px 0.1px rgba(101, 119, 134, 0.25)'}
          filter={'drop-shadow(0 0 0.8px rgba(101, 119, 134, 0.20))'}
*/