.wrapper {
  min-height: calc(100vh - 56px);
  width: 100%;
  position: relative;
}

.label {
  padding-top: 16px;
  font-weight: 300;
  font-size: var(--font-size-md);
  color: var(--c-black);
  display: block;
}

.input {
  margin-top: 8px;
  display: block;
}

.button {
  width: inherit;
  position: absolute;
  bottom: 32px;
}
