.tabs {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  height: 34px;
}

/* タブ */
.tabs input[type='radio'] + span {
  display: inline-block;
  margin-right: 8px;
  padding: 6px 12px;
  color: var(--c-black);
  text-align: center;
  font-size: var(--font-size-md);
  border-radius: 100px;
  cursor: pointer;
  border: 2px solid var(--ol-gray);
  transition: all 0.3s 0s ease;
  background-color: var(--c-white);

  &:hover {
    background-color: var(--bg-gray);
  }
}

/* タブ selected */
.tabs input[type='radio']:checked + span {
  color: var(--c-white);
  background-color: var(--c-black);
  border: 2px solid var(--c-black);
}

/* ラジオボタン消す */
.tabs input[type='radio'] {
  display: none;
}
