@use '@/styles/utils.scss' as *;
.wrapper {
  background-color: var(--bg-blue);
  min-height: 100px;
  height: calc(100% - 339px);
  position: relative;
  overflow: hidden;

  .tabs {
    background-color: var(--c-white);
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow: scroll;

    .tab_switch {
      display: none;
      &:checked {
        & + .tab_label {
          font-weight: bold;
          color: var(--c-blue);
          & + .tab_content {
            height: auto;
            opacity: 1;
            order: 1;
            pointer-events: auto;
            transform: translateX(0);
          }
        }
        & ~ .tab_label::after {
          transform: translateX(-100%);
        }
        & + .tab_label::after {
          opacity: 1;
          transform: translateX(0);
        }
        & ~ .tab_content {
          transform: translateX(30%);
        }
      }
    }

    .tab_label {
      position: relative;
      height: 42px;
      padding: 0 32px;
      cursor: pointer;
      flex: 1;
      order: -1;
      font-size: var(--font-size-md);
      line-height: 42px;
      text-align: center;
      transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
      user-select: none;
      white-space: nowrap;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        background: var(--bg-blue);
        @include mq('sm') {
          background: none;
        }
      }

      &::after {
        background: var(--c-blue);
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: translateX(100%);
        transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
        width: 100%;
        z-index: 1;
      }
    }

    .tab_content {
      position: absolute;
      top: 42px;
      opacity: 0;
      pointer-events: none;
      transform: translateX(-30%);
      transition: transform 0.3s 80ms, opacity 0.3s 80ms;
      width: 100%;
      height: 100% !important;
      overflow-y: scroll;
      background-color: var(--bg-blue);
    }
  }
}
