.container {
  padding: 0 16px;
}
.bg_white {
  background-color: var(--c-white);
}
.bg_blue {
  background-color: var(--bg-blue);
}
.min_height {
  min-height: calc(100vh - 56px);
}
.text_align {
  text-align: center;
}
