.container {
  padding: 0 1.6rem;
}
.bg_white {
  background-color: var(--c-white);
}
.bg_blue {
  background-color: var(--bg-blue);
}
.min_height {
  min-height: 100vh;
}
.text_align {
  text-align: center;
}
